<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaculatedHeights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA5089201E90D89400E6BDE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5089341E90D89500E6BDE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA50893F1E90D89500E6BDE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
